* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

body {
 background-color:  rgb(2, 20, 40);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*  */
  width: 60%;
  min-width: 340px;
  height: 50%;
  min-height: 450px;
  background: #000620;
  text-align: center;
  margin: 80px auto;
  border-radius: 10px;
  padding-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  color: #fff;
  font-size: 35px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo-form {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.todo-input {
  height: 55px;
  width: 60%;
  min-width: 200px;
  border-radius: 5px;
  outline: none;
  border-style:inset;
  border-color: rgb(20, 120, 220);
  background: transparent;
  color: #fff;
  font-size: 16px;
  margin: auto;
  padding: 10px;
}

.todo-input::placeholder {
  color: #e2e2e2;
  font-size: 15px;
}

.todo-button {
  margin: 8px;
  height: 55px;
  width: 20%;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: rgb(20, 120, 220);
  color: #fff;
  font-size: 15px;
  margin: 5px;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgba(93, 12, 255, 1);
  font-size: 15px;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(65,105,225) 0%,
    rgb(45, 85, 200) 100%
    
  );

  padding: 10px;
  border-radius: 5px;
  width: 90%;
  height: auto;
}

.todo-row:nth-child(5n + 1) {
  background: linear-gradient(
    90deg,
    rgb(30,144,255) 0%,
    rgb(20,120 , 220) 100%
    
  );
}

.todo-row:nth-child(5n + 2) {
  background: linear-gradient(
    90deg,
    rgb(78, 181, 255) 0%,
    rgb(10, 57, 95) 100%
  );
}

.todo-row:nth-child(5n + 3) {
  background: linear-gradient(
    90deg,
    rgb(57, 163, 250) 0%,
    rgb(47, 146, 185) 100%
  );
}

.todo-row:nth-child(5n + 4) {
  background: linear-gradient(
    90deg,
    rgb(30,144,255) 0%,
    rgb(20,120 , 220) 100%
  );
}

.todo-row:nth-child(5n + 5) {
  background: linear-gradient(
    90deg,
    rgb(17, 2, 155) 0%,
    rgb(0, 43, 107) 100%
  );
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.plan-tasks {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 90%;
}

.task {
  flex-wrap: wrap;
}

/* Responsividade */
@media screen and
(min-width: 200px) and
(max-width: 580px) {

  .plan-tasks {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-size: 30px;
    width: 90%;
  }

  .todo-form {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .task {
    flex-wrap: wrap;
  }

}

@media screen and
(min-width: 200px) and
(max-width: 350px) {
  .todo-button {
    min-width: 85px;
  }
}
